.DS_Store
Output_freeviewingTraining/
Code/exp00_pilot_interleave/Output_exp00_pilot/
Code/exp01_transitions/Output_exp01_transitions/
psychopy_pilot/Output_exp00_pilot/
paths.cfg
.direnv/
.ipynb_checkpoints/
Data/Pilot data/*/*.asc
Data/Pilot data/*/results.csv
*.asv
__pycache__/
*.pyc

video_ebm_dataset/video_all/
video_ebm_dataset/video_nature/
video_ebm_dataset/video_social_directed/
video_ebm_dataset/video_social_undir/
video_ebm_dataset/video_boundary/
video_ebm_dataset/video_clipped/
