.DS_Store
Output_freeviewingTraining/
paths.cfg
.direnv/
.ipynb_checkpoints/
Data/Pilot data/*/*.asc
Data/Pilot data/*/results.csv
*.asv

video_ebm_dataset/video_all/
video_ebm_dataset/video_nature/
video_ebm_dataset/video_social_directed/
video_ebm_dataset/video_social_undir/
video_ebm_dataset/video_boundary/
video_ebm_dataset/video_clipped/
